* {
    font-family: "Poppins";
    overflow: hidden;
    box-sizing: border-box;
}

body {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;

    height: 100vh;
}

.page-overlay {
    background-color: #333333;
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0.9;
    z-index: 1;
}

.page-container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    z-index: 2;
}

#title {
    font-weight: 700;
    font-size: 132px;
    color: #ffffff;
    padding: 20px 0;
}

.box-container {
    border-radius: 8px;
    background-color: rgba(225, 6, 0, 0.7);
    width: 750px;
    color: #ffffff;
    margin: auto 0;
    transform: translateY(-40px);
}

.box-header {
    border-bottom: 2px solid #ffffff;
    display: flex;
    align-items: center;
    font-weight: 700;
    font-size: 26px;
    padding: 10px 8px;
    margin: 0 8px;
}

.grand-prix-separator {
    margin: 0 15px;
}

.grand-prix-title {
    display: flex;
    align-items: center;
}

#gp-country {
    display: block;
    width: 40px;
    margin-right: 10px;
}

.box-content {
    display: flex;
    padding: 5px 0;
}

.days-container,
.hours-container,
.minutes-container,
.seconds-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 135px;
    padding: 15px 25px;
}

.days-container,
.hours-container,
.minutes-container {
    border-right: 2px solid #ffffff;
}

.virtual-clock-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: calc(100% - 135px * 4);
}

.clock-container {
    border: 2px solid #1a1a1a;
    background-image: url("assets/img/analog_clock.webp");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    border-radius: 100%;
    width: 125px;
    height: 125px;
    position: relative;
}

.clock-hand {
    width: 0;
    position: absolute;
    transform-origin: bottom;
}

#second-hand {
    border: 3px solid #1a1a1a;
    height: 50%;
    top: 0;
    left: calc(50% - 3px);
}

#minute-hand {
    border: 4px solid #006039;
    height: 45%;
    top: 5%;
    left: calc(50% - 4px);
}

#hour-hand {
    border: 5px solid #a37e2c;
    height: 40%;
    top: 10%;
    left: calc(50% - 5px);
}

.value {
    font-weight: 700;
    font-size: 58px;
}

.label {
    font-weight: 700;
    font-size: 32px;
    text-transform: uppercase;
    margin-top: 10px;
}

.box-footer {
    display: flex;
    justify-content: flex-end;
    padding: 10px 16px;
}

/* MEDIA QUERIES */

@media only screen and (max-width: 600px) {
    /* Smartphones */
    #title {
        font-size: 42px;
    }

    .box-container {
        width: calc(100% - 40px);
    }

    .grand-prix-label {
        display: none;
    }

    .grand-prix-separator {
        display: none;
    }

    .box-content {
        flex-direction: column;
        align-items: center;
    }

    .days-container,
    .hours-container,
    .minutes-container,
    .seconds-container {
        width: 95px;
        padding: 5px 0;
    }

    .days-container,
    .hours-container,
    .minutes-container {
        border-right: none;
        border-bottom: 2px solid #ffffff;
    }

    .virtual-clock-container {
        border-top: 2px solid #ffffff;
        width: calc(100% - 16px);
        text-align: center;
    }

    .value {
        font-size: 48px;
        line-height: 48px;
    }

    .label {
        font-size: 22px;
        margin-top: 2px;
    }
}

@media only screen and (min-width: 601px) and (max-width: 992px) {
    /* Tablets, laptops, small desktops */
    #title {
        font-size: 92px;
    }
}
